.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 50px;
  padding-top: 100px;
}

.title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 50px;
}
.desc {
  font-size: 36px;
}
.inter {
  width: 100%;
}
.liItem {
  padding-top: 24px;
  padding-left: 44px;
  font-size: 32px;
  text-align: left;
}
