$color-primary: #ffd54d; //主色
$color-primary-1: #522810; //主色 用于主色的文字按钮
$color-danger: #976eff; //辅1
$color-warning: #7bc44b; //辅2
$color-info: #fe644c; //辅3    用于数字、警告、提醒处
$color-info-1: #ff8800; //辅3    用于需要强调处，文字按钮

$color-h1: #2c2f33; //1级字体颜色    用于标题、正文
$color-h2: #5a5f66; //2级字体颜色     用于副标题
$color-h3: #94989e; //3级字体颜色    用于小字或备注
$color-h4: #c1c4c9; //4级字体颜色    用于备注
$color-h5: #66748a; //5及字体颜色，   用于次要按钮

$color-bg: #f5f6f7; //背景色 #F8F9FA   用于整页背景或色块
$color-bg-fff: #edf2fa; //H5背景色 #F5F6F7   用于次要按钮背景色

$color-line1: #edeff2; //分割线色1 #EDEFF2   用于白色底
$color-line2: #e1e3e5; //分割线色2 #E1E3E5   用于背景色上

$color-black: #000000; // 黑色字体
$color-white: #ffffff;
